.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.about .content {
    display: flex;
    flex-direction: row;
    background-color: powderblue;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.text {
    text-align: center;
    width:50%
}

.about-img {
    width:50%
}