.navbar {
    width: 100%;
    max-width: 100vw;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: powderblue;
    padding: 0px 40px;
}

.links ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    list-style-type: none;
}

.links ul li {
    padding-left: 3px;
    padding-right: 3px;
}